openapi: 3.0.3
info:
  title: Moov Accounts Wallets API
  description: The Moov API lets software platforms accept, store, send, and spend money through a single REST API. It is organized around Moov accounts, funding sources (bank accounts, cards, wallets, payment methods), and money movement (transfers, refunds, disputes, sweeps, card issuing). The API is based on REST principles, returns JSON, and uses standard HTTP response codes. Requests are authenticated with an OAuth 2.0 access token (Bearer). Event notifications are delivered via webhooks (HTTPS POST with an HMAC SHA-512 signature); Moov does not expose a public WebSocket API. This document models a representative subset of the commercial hosted API at api.moov.io - the canonical, machine-generated OpenAPI spec is published by Moov (see externalDocs). Separately, Moov maintains open-source Go libraries for banking file formats at github.com/moov-io, which are not part of this API.
  version: v2026.04.00
  contact:
    name: Moov
    url: https://moov.io
  termsOfService: https://moov.io/legal/platform-agreement/
servers:
- url: https://api.moov.io
  description: Moov production
security:
- bearerAuth: []
tags:
- name: Wallets
  description: Stored-balance wallets and their ledgered transactions.
paths:
  /accounts/{accountID}/wallets:
    parameters:
    - $ref: '#/components/parameters/accountID'
    post:
      operationId: createWallet
      tags:
      - Wallets
      summary: Create a wallet.
      responses:
        '200':
          description: The created wallet.
    get:
      operationId: listWallets
      tags:
      - Wallets
      summary: List wallets.
      responses:
        '200':
          description: A list of wallets.
  /accounts/{accountID}/wallets/{walletID}:
    parameters:
    - $ref: '#/components/parameters/accountID'
    - $ref: '#/components/parameters/walletID'
    get:
      operationId: getWallet
      tags:
      - Wallets
      summary: Retrieve a wallet.
      responses:
        '200':
          description: The wallet.
    patch:
      operationId: updateWallet
      tags:
      - Wallets
      summary: Update a wallet.
      responses:
        '200':
          description: The updated wallet.
  /accounts/{accountID}/wallets/{walletID}/transactions:
    parameters:
    - $ref: '#/components/parameters/accountID'
    - $ref: '#/components/parameters/walletID'
    get:
      operationId: listWalletTransactions
      tags:
      - Wallets
      summary: List wallet transactions.
      responses:
        '200':
          description: A list of wallet transactions.
  /accounts/{accountID}/wallets/{walletID}/transactions/{transactionID}:
    parameters:
    - $ref: '#/components/parameters/accountID'
    - $ref: '#/components/parameters/walletID'
    - name: transactionID
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWalletTransaction
      tags:
      - Wallets
      summary: Retrieve a wallet transaction.
      responses:
        '200':
          description: The wallet transaction.
  /accounts/{accountID}/adjustments:
    parameters:
    - $ref: '#/components/parameters/accountID'
    get:
      operationId: listAdjustments
      tags:
      - Wallets
      summary: List balance adjustments.
      responses:
        '200':
          description: A list of adjustments.
  /accounts/{accountID}/adjustments/{adjustmentID}:
    parameters:
    - $ref: '#/components/parameters/accountID'
    - name: adjustmentID
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getAdjustment
      tags:
      - Wallets
      summary: Retrieve a balance adjustment.
      responses:
        '200':
          description: The adjustment.
components:
  parameters:
    accountID:
      name: accountID
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: The Moov account identifier.
    walletID:
      name: walletID
      in: path
      required: true
      schema:
        type: string
        format: uuid
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token passed as a Bearer token.
externalDocs:
  description: Moov API reference and canonical OpenAPI spec
  url: https://docs.moov.io/api/
