openapi: 3.0.3
info:
  title: Moov Accounts Institutions API
  description: The Moov API lets software platforms accept, store, send, and spend money through a single REST API. It is organized around Moov accounts, funding sources (bank accounts, cards, wallets, payment methods), and money movement (transfers, refunds, disputes, sweeps, card issuing). The API is based on REST principles, returns JSON, and uses standard HTTP response codes. Requests are authenticated with an OAuth 2.0 access token (Bearer). Event notifications are delivered via webhooks (HTTPS POST with an HMAC SHA-512 signature); Moov does not expose a public WebSocket API. This document models a representative subset of the commercial hosted API at api.moov.io - the canonical, machine-generated OpenAPI spec is published by Moov (see externalDocs). Separately, Moov maintains open-source Go libraries for banking file formats at github.com/moov-io, which are not part of this API.
  version: v2026.04.00
  contact:
    name: Moov
    url: https://moov.io
  termsOfService: https://moov.io/legal/platform-agreement/
servers:
- url: https://api.moov.io
  description: Moov production
security:
- bearerAuth: []
tags:
- name: Institutions
  description: Financial institution lookup by routing number.
paths:
  /institutions:
    get:
      operationId: getInstitutions
      tags:
      - Institutions
      summary: Look up financial institutions.
      description: Validate a financial institution before initiating payment activity, or check which payment rails are available for a given routing number.
      parameters:
      - name: routingNumber
        in: query
        schema:
          type: string
        description: The ABA routing number to look up.
      - name: name
        in: query
        schema:
          type: string
        description: Filter by institution name.
      responses:
        '200':
          description: Matching institutions and supported rails.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token passed as a Bearer token.
externalDocs:
  description: Moov API reference and canonical OpenAPI spec
  url: https://docs.moov.io/api/
