openapi: 3.0.3
info:
  title: Moov Accounts Sweeps API
  description: The Moov API lets software platforms accept, store, send, and spend money through a single REST API. It is organized around Moov accounts, funding sources (bank accounts, cards, wallets, payment methods), and money movement (transfers, refunds, disputes, sweeps, card issuing). The API is based on REST principles, returns JSON, and uses standard HTTP response codes. Requests are authenticated with an OAuth 2.0 access token (Bearer). Event notifications are delivered via webhooks (HTTPS POST with an HMAC SHA-512 signature); Moov does not expose a public WebSocket API. This document models a representative subset of the commercial hosted API at api.moov.io - the canonical, machine-generated OpenAPI spec is published by Moov (see externalDocs). Separately, Moov maintains open-source Go libraries for banking file formats at github.com/moov-io, which are not part of this API.
  version: v2026.04.00
  contact:
    name: Moov
    url: https://moov.io
  termsOfService: https://moov.io/legal/platform-agreement/
servers:
- url: https://api.moov.io
  description: Moov production
security:
- bearerAuth: []
tags:
- name: Sweeps
  description: Automated sweeps of wallet balances to a bank account.
paths:
  /accounts/{accountID}/sweep-configs:
    parameters:
    - $ref: '#/components/parameters/accountID'
    post:
      operationId: createSweepConfig
      tags:
      - Sweeps
      summary: Create a sweep configuration.
      responses:
        '200':
          description: The created sweep configuration.
    get:
      operationId: listSweepConfigs
      tags:
      - Sweeps
      summary: List sweep configurations.
      responses:
        '200':
          description: A list of sweep configurations.
  /accounts/{accountID}/sweep-configs/{sweepConfigID}:
    parameters:
    - $ref: '#/components/parameters/accountID'
    - name: sweepConfigID
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getSweepConfig
      tags:
      - Sweeps
      summary: Retrieve a sweep configuration.
      responses:
        '200':
          description: The sweep configuration.
    patch:
      operationId: updateSweepConfig
      tags:
      - Sweeps
      summary: Update a sweep configuration.
      responses:
        '200':
          description: The updated sweep configuration.
  /accounts/{accountID}/wallets/{walletID}/sweeps:
    parameters:
    - $ref: '#/components/parameters/accountID'
    - $ref: '#/components/parameters/walletID'
    get:
      operationId: listSweeps
      tags:
      - Sweeps
      summary: List sweeps for a wallet.
      responses:
        '200':
          description: A list of sweeps.
  /accounts/{accountID}/wallets/{walletID}/sweeps/{sweepID}:
    parameters:
    - $ref: '#/components/parameters/accountID'
    - $ref: '#/components/parameters/walletID'
    - name: sweepID
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getSweep
      tags:
      - Sweeps
      summary: Retrieve a sweep.
      responses:
        '200':
          description: The sweep.
components:
  parameters:
    accountID:
      name: accountID
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: The Moov account identifier.
    walletID:
      name: walletID
      in: path
      required: true
      schema:
        type: string
        format: uuid
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token passed as a Bearer token.
externalDocs:
  description: Moov API reference and canonical OpenAPI spec
  url: https://docs.moov.io/api/
